@{
    ViewData["Title"] = "Home Page";
}

<!--My admin Custom CSS -->
<link href="../plugins/bower_components/owl.carousel/owl.carousel.min.css" rel="stylesheet" type="text/css" />
<link href="../plugins/bower_components/owl.carousel/owl.theme.default.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-">   
            <div class="panel-heading">Bienbenido</div>
            <div class="panel-wrapper p-b-10 collapse in">
                <div id="owl-demo2" class="owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1271px;">
                            <div class="owl-item active" style="width: 191.8px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/plugins/images/indeximg/img1.jpg" alt="Owl Iamge" />
                                </div>
                            </div><div class="owl-item active" style="width: 191.8px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/plugins/images/indeximg/img2.jpg" alt="Owl Iamge" />
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 191.8px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/plugins/images/indeximg/img3.jpg" alt="Owl Iamge" />
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 191.8px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/plugins/images/indeximg/img4.jpg" alt="Owl Iamge" />
                                </div>
                            </div><div class="owl-item active" style="width: 191.8px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/plugins/images/indeximg/img5.jpg" alt="Owl Iamge" />
                                </div>
                            </div><div class="owl-item" style="width: 191.8px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/plugins/images/indeximg/img6.jpg" alt="Owl Iamge" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav">
                        <div class="owl-prev disabled">prev</div>
                        <div class="owl-next">next</div>
                    </div>
                    <div class="owl-dots">
                        <div class="owl-dot active"><span></span></div><div class="owl-dot">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Slide show with owl Carousel</div>
                <div class="panel-wrapper p-b-10 collapse in">
                    <div id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">






                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-5195px, 0px, 0px); transition: all 0.25s ease 0s; width: 6234px;"><div class="owl-item" style="width: 1039px;"><div class="item"><img src="../plugins/images/heading-bg/slide2.jpg" alt="Owl Image"></div></div><div class="owl-item" style="width: 1039px;"><div class="item"><img src="../plugins/images/heading-bg/slide3.jpg" alt="Owl Image"></div></div><div class="owl-item" style="width: 1039px;"><div class="item"><img src="../plugins/images/heading-bg/slide4.jpg" alt="Owl Image"></div></div><div class="owl-item" style="width: 1039px;"><div class="item"><img src="../plugins/images/heading-bg/slide6.jpg" alt="Owl Image"></div></div><div class="owl-item" style="width: 1039px;"><div class="item"><img src="../plugins/images/heading-bg/slide1.jpg" alt="Owl Image"></div></div><div class="owl-item active" style="width: 1039px;"><div class="item"><img src="../plugins/images/heading-bg/slide3.jpg" alt="Owl Image"></div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery for carousel -->
<script src="../plugins/bower_components/owl.carousel/owl.carousel.min.js"></script>
<script src="../plugins/bower_components/owl.carousel/owl.custom.js"></script>